/* Set styles for body and head */



body
{
	margin: 0 auto;
	padding: 0;
	font-size: 76%;
	font-size: 13px;
	font-family: "georgia", serif;
	background-color: #ffffff;
	
}


#container
{
	margin: 0px auto;
	width: 1200px;
	background-color: #ffffff;
	text-align: left;
}

#header
{
	margin:0;
	padding: 0;
	width: 100%;
	border: 0px solid #aaaaaa;

}

#header-a
{
	display: block;
	margin: 0 5px 0 5px;
	float: right;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
}
	
#header-a:hover
{
	color: #9FBA0F;
}

#sitename
{
	float: right;
	clear: right;
	color: #000000;
	font-size: 40px;
	letter-spacing: -1px;
	margin: 50px 10px 0 0;
}
#sitename p
{
       
	text-align: right;
	color:#999999;
	font-size: 20px;
	letter-spacing: -1px;
	
}

#menu
{
	margin:0 0 10px 0;
	padding: 10;
	width: 100%;
        clear: both;
        text-align: center;
        border-top: 2px solid #888888;

}

#leftcol
{
	float: left;
	font-size: 1.1em;
	line-height: 1.3em;
	color: #0F0F0C;
	margin: 0 10px 0 10px;
	padding: 4px;
	width: 200px;
	background-color: #ffffff;
	border: 3px solid #888888;
}

#leftcol h1
{
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold;
	margin: 0;
	padding: 10px 10px 0 10px;
	background-color: #EEEEEE;
}

#leftcol h2
{
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0 10px 0 10px;
	background-color: #EEEEEE;
}

.text
{
	margin: 0;
	padding: 10px 10px 10px 10px;
	background-color: #EEEEEE;

}

#leftcol a
{
	color: #EEEEEE;
	text-decoration: underline;
}

#leftcol a:hover
{
	color: #EEEEEE;
}

#leftcol ul
{
	margin: 0;
	padding: 5px 10px 5px 10px;
	list-style: none;
	background-color: #EEEEEE;
}


#leftcol li
{
	margin: 0;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px dotted #888888;
}

#leftcol li a
{
	color: #0F0F0C;
	font-style: italic;
	text-decoration: none;
}

#leftcol li a:hover
{
	color: #CC6600;
	text-decoration: none;
}

#leftcol img
{
	float: left;
	background-color: #ffffff;
	border: 1px solid #4C6F0F;
	padding: 2px;
	margin: 0 5px 5px 0;
}

#main
{
	float: left;
    margin: 0 0 10px 0;
	padding: 0;
    width: 750px;
	color: #0F0F0C;
	font-size: 1.1em;
	line-height: 1.3em;
	text-align: justify;
}

#main a
{
	color: #DF3400;
	text-decoration: underline;
}

#main a:hover
{
	color: #4C6F0F;
}

#main img
{
	float: left;
	background-color: #ffffff;
	border: none;
	padding: 8px;
	margin: 0 5px 0 0;
}

#main .copy
{
	margin: 0 0 10px 0;
}

#miniatury
{
        float: left;
        
        margin: 0 0 10px 0;
	padding: 10px 10px 10px 80px;
        background-color: #888888;
        
}


#miniatury img
{     
       float: left;
       margin: 10px;
       padding: 5px;
       background-color: #ffffff;
       border: none;
       
}
#dateline
{
	color: #0F0F0C;
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 1.1em;
        font-style: italic;
	text-align: left;
	
}

#wiecej
{
	color: #0F0F0C;
	margin: 0 0 30px 0;
	padding: 10px 5px 3px 0;
	background-color: #ffffff;
        font-style: italic;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	border-bottom: 2px solid #AAAAAA;

}

#wiecej a
{
	color: #000000;
	text-decoration: none;
}
#wiecej a:hover
{
	color: #CC6600;
	text-decoration: none;
}

#galeria
{
	color: #0F0F0C;
	margin: 0 0 30px 0;
	padding: 20px 5px 3px 0;
	background-color: #ffffff;
	font-size: 1.2em;
        font-weight: bold;
	text-align: left;
	border-bottom: 2px solid #AAAAAA;

}

#galeria a
{
	color: #CC6600;
	text-decoration: none;
}
#galeria a:hover
{
	color: #000000;
	text-decoration: none;
}

#quote
{
	margin: 10px 50px 10px 50px;
	padding: 12px;
	background-color: #DAF29F;
	font-size: 1.1em;
	font-style: italic;
	line-height: 1.3em;
	font-weight: normal;
	text-align: right;
	border: 0px solid #9FBA0F;
}

#quote img
{
	float: left;
	margin-right: 5px;
	padding: 0;
	border: 0;
}

#main h1
{
	font-size: 2em;
}

#main h2
{
	font-size: 1.7em;
}

#main h3
{
	font-size: 1.5em;
}
#main h4
{
        font-size: 1.1em;
}


#info
{
	float: right;
	font-size: 1.1em;
	line-height: 1.3em;
	color: #0F0F0C;
	margin: 0 0 10px 0;
	padding: 10px;
	width: 180px;
        
	background-color: #eeeeee;
}
	

#footer
{
        border-top: 2px solid #888888;
	margin: 0 0 50px 0;
        padding: 10px;
	clear: both;
	color: #a0a0a0;
	font-size: 1em;
	text-align: center;
}

#footer a
{
	color: #a0a0a0;
	text-decoration: none;
}

#footer a:hover
{
	color: #606060;
}
#main2
{
	width: 900px;
        float: left;
        margin: 0 0 0 0;
	padding: 0;
	color: #0F0F0C;
	font-size: 1.1em;
	line-height: 1.3em;
	text-align: left;
        table-align: center
}

#main2 a
{
	color: #CC6600;
	text-decoration: none;
}

#main2 a:hover
{
	color: #0F0F0C;
}

#main2 img
{
	align: right;
		
	padding: 10px;
	margin: 10px;
}

#main2 .copy
{
	margin: 0 0 10px 0;
}



#main2 h1
{
	font-size: 2em;
}

#main2 h2
{
	font-size: 1.7em;
}

#main2 h3
{
	font-size: 1.5em;
}


#main2 h4
{
	font-size: 1.1em;
}
#main2 ul  {
	display: block;
	list-style: none;
	margin: 0;
	padding:0 0 20px;
}

#main2 li {
	display: inline;
	white-space: nowrap;
        padding: 0 70px ;
}



#fota
{
        align: center;
        padding: 20px;
        margin:0 10px;
        font-style: italic;
        font-size: 1.1em;
}

#fota td
{
       text-align: left;
       padding: 0 30px;
}

#fota .telko
{
         background-color:#FBF7E8;
         padding: 10px
         
}

