
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 200px;
    min-height: 500px;
}
#left ul
{
    margin: 0;
    padding: 5px 10px 5px 10px;
    list-style: none;
}


#left li
{
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px  dotted #888888;
    font-weight: bold;
}

#left li a
{
    color: #000000;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

#left li a:hover
{
    color: #6699FF;
    text-decoration: none;
    text-shadow: 0px 0px 2px #FFFFFF;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#content {
   
}


.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 220px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#tabela table
{
    width: 100%;
    table-layout: auto;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.3em;
    text-align: left;
    padding: 10px;
}

#tabela table tr > td:first child
{
    width: 350px;

}
#tabela hr
{
    size: 1px;
    width: 100%;
    color: #000000;
}



#tabela th
{
    font-size: 1.1em;
    background-color: #EEEEEE;  
    text-align: left;
    padding: 10px 20px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

#tabela th a
{
    color: #000000;
}
#tabela th a:hover
{
    color: #6699FF;
}

#tabela table td
{
    max-width: 800px;
    padding: 5px 3px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}
#tabela table td table
{       
    table-layout: auto;
    width: auto;
    padding: 0px;
    background-color: #FFFFFF;
    border: 3px solid #CCCCCC;
    font-size: 0.9em;
}
#tabela a
{

    display: block;
    padding: 10px 0;
    font-size: 1.1em;
    clear: one;
    text-decoration: none;
    margin: 5px;
    color: #000080;
}
#tabela a:hover
{
    color: #6699FF;
    text-shadow: 0px 0px 2px #FFFFFF;
}
#tabela li a
{
    display: block;
    clear: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000000;
}
#tabela li img
{
    margin: 0;
    padding: 0;
}

#tabela tr:nth-child(even)
{
    background-color:#EEEEEE;

}
#tabela tbody p
{
    font-size:0.9em ;
    font-style: italic;
}


