body
{
    margin: 0 auto;
    padding: 0px;
    font-size: 100%;
    font-family: "georgia", serif;
    background-color: #ffffff;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
