body
{
    margin: 0 auto;
    padding: 0px;
    font-family: tahoma,verdana,helvetica,sans-serif;
    background-color: #e4e4e4
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : none;
}

.error{
    color: red;
    font-weight: bold;
}